body {
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}

#container {
    /* padding: 2rem; */
}

section {
    
   
    
}


.dark {
    background:darkslategray;
    color: cornsilk;
}

.light {
    background: ghostwhite;
}

h1, p{
    margin-top: 0;
}

h1{
    font-size: 4rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

p {
    letter-spacing: 2px;
    font-size: 1.25rem;
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
img {
    padding: 3rem;
}

#shawnFace, #theHarts, #autumnPic, #allisynPic{
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

#kidPics {
    display:flex;
    width: 100%;
    justify-content: space-around;
}
#autumnBlock, #allisynBlock {
    display:flex;
    flex-direction: column;
}

#kidPics h2 {
    text-decoration: none;
}