body {
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

section {
    
}


.dark {
    background:#334860;
    color: cornsilk;
}

.light {
    background: #8DB4E0;
    color: #334860;
    
}

h1, p{
    margin: 0;
}

h1{
    font-size: 4rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
    padding-top: 2rem;
    letter-spacing: 2.5px;
}

p {
    letter-spacing: 2px;
    font-size: 1.25rem;
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 2em;
   
}
img {
    padding: 5rem;
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    }

#theHarts {
    width: 800px;
}

#myKids img {
    padding-top: 2rem;
}
    

#kidPics {
    display:flex;
    width: 100%;
    justify-content: space-around;
}

#autumnBlock, #allisynBlock {
    display:flex;
    flex-direction: column;
}

